# Copy to .env and fill real values
APP_NAME=Grow Wealth
MONGODB_URI=mongodb+srv://<USER>:<PASSWORD>@cluster0.jfrhcls.mongodb.net/growwealth?retryWrites=true&w=majority
DB_NAME=growwealth
PORT=5000
JWT_SECRET=change_me
JWT_EXPIRES=7d
CLIENT_URL=http://localhost:5173
JOINING_AMOUNT=1
ROI_PERCENT=1
FIRST_WITHDRAW_MIN=10
DEPOSIT_ADDRESS=0xA73EEAd1C853deF37F3B3bE1701e240d74770D8e
CRON_SECRET=grow_wealth_cron_secret_change_me
