# Copy to .env and fill real values
APP_NAME=Grow Wealth
MONGODB_URI=mongodb+srv://<USER>:<PASSWORD>@cluster0.jfrhcls.mongodb.net/growwealth?retryWrites=true&w=majority
DB_NAME=growwealth
PORT=5000
JWT_SECRET=change_me
JWT_EXPIRES=7d
CLIENT_URL=http://localhost:5173
JOINING_AMOUNT=1
ROI_PERCENT=2
FIRST_WITHDRAW_MIN=10
DEPOSIT_ADDRESS=0xYourBep20DepositAddress
